@*
Collection of all projects.
*@
@import db.ModelService
@import models.project.{Project, Tag, Version}
@import models.user.User
@import ore.OreConfig
@import ore.project.{Categories, Dependency}
@import views.html.utils
@(models: Seq[(Project, User, Version, Seq[Tag])], page: Int, pageSize: Int, call: Int => Call)(implicit messages: Messages, flash: Flash, config: OreConfig)

@projectRoutes = @{
    controllers.project.routes.Projects
}

<div class="list-group project-list">
    @models.map { case (project, owner, rv, rvTags) =>
        <div class="list-group-item list-group-item-action @project.visibility.cssClass" href="@projectRoutes.show(project.ownerName, project.slug)">
            <div class="row">
                <div class="col-auto d-flex align-items-center">
                @utils.userAvatar(
                    userName = Some(owner.name),
                    avatarUrl = owner.avatarUrl,
                    call = projectRoutes.showIcon(project.ownerName, project.slug),
                    clazz = "user-avatar-sm")
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-6">
                            <a href="@projectRoutes.show(project.ownerName, project.slug)">@project.name</a>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">@project.description</div>
                        <div class="col-6">
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    }
</div>
