@import "variables";

$copyright-color: #858585;
$footer-border-color: #464646;
$footer-link-hover-color: #c3c3c3;

.footer {
  border-top: 7px solid $footer-border-color;
  background: $sponge_grey;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;

  .logo {
    justify-content: center;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .links {
    justify-content: space-around;
    margin-bottom: 0.6rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      > li {
        padding: 0.3rem 0.4rem;

        @media (min-width: 768px) {
          padding: 0.3rem 1rem;
        }

        a {
          color: $copyright-color;

          &:hover {
            color: $footer-link-hover-color;
            text-decoration: none;
          }
        }
      }
    }
  }

  .copyright {
    color: $sponge_grey_lighter;
    font-size: 0.9rem;
  }
}
