@import "variables";

// This is a standard value which is overwritten by javascript normally
$nav-brand-width: 14.25rem;

//noinspection CssUnknownTarget
$nav-brand-logo: url(../images/icons/spongie-mark.svg);
$nav-brand-logo-size: 2.813rem;

$nav-indicator-color: #808080;
$nav-link-color: #f3f3f3;
$nav-dropdown-border: 7px solid $sponge_grey_dark;
$nav-mobile-dropdown-background: #474747;
$nav-mobile-dropdown-hover: #424242;

.navbar {
  background: $sponge_grey;
  min-height: $sponge_navigation_height;
  padding: 0;

  .container {
    max-height: $sponge_navigation_height;

    @media (max-width: 768px) {
      margin: 0;
    }
  }

  // Remove collapsing animations
  .collapsing {
    transition: none;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    min-height: $sponge_navigation_height;
    padding: 0 1rem 0 1.5rem;
    margin: 0;

    &, * {
      user-select: none;
    }

    .logo {
      height: $nav-brand-logo-size;
      width: $nav-brand-logo-size;
      background: $nav-brand-logo;
    }

    .sponge-headline {
      height: $nav-brand-logo-size;
      display: flex;
      align-items: center;
    }

    span {
      margin: 0 0.5rem;
    }

    svg {
      color: $nav-indicator-color;
    }

    &:hover, &:focus, &.focus {
      background: $sponge_grey_dark;
      outline: none;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $nav-link-color;
        font-size: 1.2rem;
        padding: 0.75rem 1.5rem;

        &.active, &.active:hover {
          color: $nav-link-color;
          background: $sponge_grey_dark;
        }

        &:hover, &:focus {
          color: $nav-link-color;
          background: $sponge_grey;
          outline: none;
        }

        svg, img {
          margin-right: 0.5rem;
        }
      }
    }

    @media (max-width: 768px) {
      border-top: $nav-dropdown-border;
      border-bottom: $nav-dropdown-border;
      width: 100vw;
      background: $sponge_grey_light;
    }
  }

  #sponge-menu {
    .navbar-nav {
      display: none;

      @media (min-width: 768px) {
        flex-direction: column;
        width: $nav-brand-width;
        background: $sponge_grey_light;
        padding: 0.5rem 0;
        border-bottom: $nav-dropdown-border;

        .nav-item {
          .nav-link {
            padding: 0.45rem 0.75 + ($nav-brand-logo-size / 2);
            font-size: 1.2rem;
          }
        }
      }

      @media (min-width: 768px) {
        position: absolute;
        top: $sponge_navigation_height;
      }
    }

    @media (min-width: 768px) {
      &.navbar-collapse {
        position: absolute;
        top: 0;
      }
    }
  }

  #sub-menu .navbar-nav {
    display: none;

    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
          > svg, img {
            margin-right: 0;
          }
        }
      }

      &.dropdown {
        &.show .dropdown-toggle {
          background: $sponge_grey;
        }

        .dropdown-menu {
          margin: 0;
          background: $nav-mobile-dropdown-background;
          border-radius: 0;
          border: none;
          border-bottom: 4px solid $sponge_grey;
          padding: 0.5rem 0;

          .dropdown-divider {
            border-color: $sponge_grey_lighter;
          }

          .dropdown-item {
            color: white;
            text-shadow: none;
            font-size: 1.1rem;
            padding: 0.5rem 1.5rem;

            svg {
              margin-right: 0.5rem;
            }

            &:hover, &:focus {
              background: $nav-mobile-dropdown-hover;
              outline: none;
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      min-height: $sponge_navigation_height;
      display: flex;

      .nav-item {
        display: inline-flex;
        align-items: center;
        min-height: $sponge_navigation_height;

        .nav-link {
          font-size: 1rem;
          padding: 0.75rem;
          min-height: $sponge_navigation_height;
          display: inline-flex;
          align-items: center;

          &:hover, &:focus {
            background: $sponge_grey_dark;
          }

          > svg {
            color: $sponge_yellow;
            font-size: 2rem;
          }

          &, * {
            user-select: none;
          }
        }

        &.dropdown {
          &.show .dropdown-toggle {
            background: $sponge_grey_dark;
          }

          .dropdown-menu {
            background: $sponge_grey_light;
            border-bottom: $nav-dropdown-border;
            padding: 0.5rem 0;

            .dropdown-item {
              font-size: 1rem;
              padding: 0.25rem 1.5rem;

              &:hover, &:focus {
                background: $sponge_grey;
              }
            }
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: none;
    border-radius: 0;
    padding: 0;

    &:hover, &:focus, &.focus {
      background: $sponge_grey_dark;
      outline: none;
    }

    svg {
      color: $nav-indicator-color;
    }

    &.sponge-menu {
      @media (min-width: 768px) {
        display: flex;
      }
    }

    &.sub-menu {
      @media (min-width: 768px) {
        display: none;
      }

      position: absolute;
      right: 0;

      display: flex;
      align-items: center;
      height: 100%;

      padding: 0 1.5rem;
      border: none;
      font-size: 1.75rem;
    }
  }
}

//==> Ore

.navbar #sub-menu .navbar-nav {
  .nav-item {
    #userDropdown img {
      width: 24px;
      height: 24px;

      @media (min-width: 768px) {
        width: 32px;
        height: 32px;
      }
    }
  }
}
