@import "variables";
@import "navigation";
@import "footer";
@import "buttons";

.sponge-headline {
  font-family: $sponge_headline_font;
  font-weight: $sponge_headline_weight;
  font-size: 1.438rem;
  color: $sponge_yellow;
  text-transform: uppercase;
  text-decoration: none;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
