// Component styles

@import "variables";
@import "navigation";
@import "footer";
@import "buttons";
@import "forms";
@import "cards";

// Page styles

@import "pages/home";

// Component styles

@import "components/project-list";

// General styles

.sponge-headline {
  font-family: $sponge_headline_font;
  font-weight: $sponge_headline_weight;
  font-size: 1.438rem;
  color: $sponge_yellow;
  text-transform: uppercase;
  text-decoration: none;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  margin-top: $sponge_navigation_height + 1rem;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.user-avatar-sm {
  width: 50px;
  height: 50px;
}
