@*
The main entry point of Ore. This page displays a list of Projects that can be
sorted according to different criteria.
*@
@import controllers.sugar.Requests.OreRequest
@import models.project.{Project, Tag, Version}
@import models.user.User
@import ore.OreConfig
@import ore.Platforms.Platform
@import ore.project.Categories._
@import ore.project.ProjectSortingStrategies.{values, _}
@import ore.project.{Categories, ProjectSortingStrategies}
@import play.api.Configuration
@import security.NonceFilter._

@import scala.util.Random

@(models: Seq[(Project, User, Version, Seq[Tag])], visibleCategories: Option[Seq[Category]], query: Option[String], page: Int,
        sort: ProjectSortingStrategy, platform: Option[Platform])(implicit messages: Messages, flash: Flash,
        request: OreRequest[_], config: OreConfig)

@projectRoutes = @{
    controllers.project.routes.Projects
}

@randomSponsor = @{
    val logos: Seq[Configuration] = config.sponge.get[Seq[Configuration]]("sponsors")

    val index = new Random().nextInt(logos.size)
    val logo = logos(index)

    (logo.get[String]("name"), logo.get[String]("image"), logo.get[String]("link"))
}

@orderingOption = @{
    sort match {
        case ProjectSortingStrategies.Default => None
        case _ => Some(sort.id)
    }
}

@categoryString = @{
    visibleCategories.map(_.map(_.id.toString).mkString(","))
}

@categoryLink(category: Category) = @{
    val categoryString = category.createCategoryToggledQueryString(visibleCategories)

    routes.Application.showHome(if(categoryString) Some(categoryString) else None, query, orderingOption, if(page == 1) None else Some(page), None)
}

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/home.js")"></script>

    <script nonce="@nonce">
        @if(visibleCategories.isDefined) {
            CATEGORY_STRING = "@categoryString";
        }
        @if(!sort.equals(ProjectSortingStrategies.Default)) {
            SORT_STRING = "@sort.id";
        }
        @if(request.getQueryString("q").isDefined) {
            QUERY_STRING = "@request.getQueryString("q").get";
        }
    </script>
}

@bootstrap.layout(messages("general.title"), scripts) {
    <div class="row mb-3">
        <div class="col-lg-9 ore-banner mb-3 mb-lg-0">
            <div class="row align-items-center">
                <div class="col d-flex align-items-center">
                    <div class="logo">
                        <img src="@routes.Assets.at("images/ore-colored.svg")" />
                    </div>
                    <div class="description">
                        <div class="headline">@messages("general.appName")</div>
                        <div>@messages("general.description")</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 sponsor">
            <div class="card sponsor-card">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <span>@messages("general.sponsoredBy")</span>
                    @defining(randomSponsor) { sponsor =>
                        <a href="@sponsor._3">
                            <img class="logo" src="@routes.Assets.at(sponsor._2)" />
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="input-group mb-3" id="project-search">
                <input type="text" class="form-control" placeholder="Search in projects.." aria-label="Search Bar" aria-describedby="search-input" @if(query.isDefined) { value="@query" }>
                <div class="input-group-append">
                    <button class="btn sponge-yellow" type="button">Search</button>
                </div>
            </div>

            @projects.list(
                models = models,
                page = page,
                pageSize = config.projects.get[Int]("init-load"),
                call = page => routes.Application.showHome(categoryString, query, orderingOption, Some(page), None)
            )
        </div>
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <select class="custom-select" id="sortSelect">
                    <option selected value="@sort.id">@sort.title</option>
                    @values.filterNot(_.equals(sort)).map { strategy =>
                        <option value="@strategy.id">@strategy.title</option>
                    }
                </select>
            </div>
            <div class="card categories">
                <div class="card-header">
                    <span>@messages("project.category.plural")</span>
                    @if(visibleCategories.isDefined) {
                        <a href="@routes.Application.showHome(None, query, orderingOption, None, None)">
                            <i class="fas fa-times align-self-end"></i>
                        </a>
                    }
                </div>
                <div class="list-group ">
                    @for(category <- Categories.visible) {
                        <a href="@categoryLink(category)" class="list-group-item list-group-item-action @if(visibleCategories.isDefined && visibleCategories.get.contains(category)) { active }">
                            <i class="@category.icon fa-fw"></i>
                            <span>@category.title</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}
