@*
The main entry point of Ore. This page displays a list of Projects that can be
sorted according to different criteria.
*@
@import controllers.sugar.Requests.OreRequest
@import models.project.{Project, Tag, Version}
@import models.user.User
@import ore.OreConfig
@import ore.Platforms.Platform
@import ore.project.Categories._
@import ore.project.ProjectSortingStrategies.{values, _}
@import ore.project.{Categories, ProjectSortingStrategies}
@import play.api.Configuration
@import security.NonceFilter._
@import util.WSUtils.appendUri

@import scala.util.Random

@(models: Seq[(Project, User, Version, Seq[Tag])], visibleCategories: Option[Seq[Category]], query: Option[String], page: Int,
        sort: ProjectSortingStrategy, platform: Option[Platform])(implicit messages: Messages, flash: Flash,
        request: OreRequest[_], config: OreConfig)

@projectRoutes = @{
    controllers.project.routes.Projects
}

@randomSponsor = @{
    val logos: Seq[Configuration] = config.sponge.get[Seq[Configuration]]("sponsors")

    val index = new Random().nextInt(logos.size)
    val logo = logos(index)

    (logo.get[String]("name"), logo.get[String]("image"), logo.get[String]("link"))
}

@categoryString = @{
    visibleCategories.map(_.map(_.id.toString).mkString(","))
}

@categoryLink(category: Category) = @{
    if(visibleCategories.contains(category)) {
        "test"
    } else {
        appendUri(request.uri, category.id.toString).toString
    }
}

@orderingOption = @{
    sort match {
        case ProjectSortingStrategies.Default => None
        case _ => Some(sort.id)
    }
}

@platformOption = @{
    platform.map(_.name)
}

@maybeActive(pform: Platform) = @{
    platform.map { p =>
        if(p.equals(pform))
            "active"
        else
            ""
    }
}

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/home.js")"></script>

    <script nonce="@nonce">
        @if(visibleCategories.isDefined) {
            CATEGORY_STRING = "@visibleCategories.get.map(_.id).mkString(",")";
        }
        @if(!sort.equals(ProjectSortingStrategies.Default)) {
            SORT_STRING = "@sort.id";
        }
        @if(request.getQueryString("q").isDefined) {
            QUERY_STRING = "@request.getQueryString("q").get";
        }
        currentlyLoaded = @models.size;
    </script>
}

@bootstrap.layout(messages("general.title"), scripts) {
    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="col-md-3">
            <div class="input-group mb-3">
                <select class="custom-select" id="sortSelect">
                    <option selected value="@sort.id">@sort.title</option>
                    @values.filterNot(_.equals(sort)).map { strategy =>
                        <option value="@strategy.id">@strategy.title</option>
                    }
                </select>
            </div>
            <div class="card categories">
                <div class="card-header">
                    @messages("project.category.plural")
                </div>
                <div class="list-group ">
                    @for(category <- Categories.visible) {
                        <a href="@categoryLink(category)" class="list-group-item list-group-item-action">
                            <i class="@category.icon fa-fw"></i>
                            <span>@category.title</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}
